    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/custom.css">

<body>
    
    <div id="carrito">
        <table id="lista-carrito" class="u-full-width">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
            </thead>
                <tbody></tbody>
        </table>
        <a href="#" id="vaciar-carrito" class="button car-width">Vaciar Carrito</a>

    </div>  
    <div>
        <h1 id="carrito-mensaje">Total a Pagar Q 0.00</h1>
    </div>
  <script src="js/agregar-p-carrito.js"></script>
</body>
