
{{!-- <link rel="stylesheet" href="/css/style_index.css"> --}}
<!--MAIN-->
<!--CAROUSEL-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/img_fondos/img1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                {{!-- <h5>First slide label</h5> --}}
                {{!-- <p>Some representative placeholder content for the first slide.</p> --}}
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/img_fondos/img2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                {{!-- <h5>First slide label</h5> --}}
                {{!-- <p>Some representative placeholder content for the first slide.</p> --}}
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/img_fondos/img3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                {{!-- <h5>First slide label</h5> --}}
                {{!-- <p>Some representative placeholder content for the first slide.</p> --}}
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>




<!--TARGETAS-->

<div class="container pt-5 " id="targetasX">
      <div class="card mb-3 mx-auto" style="max-width: 75%;">
        <div class="row no-gutters">
          <div class="col-md-4 ">
            <img src="img/img_main/img1.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              {{!-- <img src="img/img_main/img4.jpg" class="background" > --}}
              <h5 class="">Hecho por Expertos</h5>
              <p>Todo producto es elaborado por manos expertas, para obtener la mejor calidad del mercado.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3 p" style="max-width: 75%;">
        <div class="row no-gutters">
          <div class="col-md-8 ">
            <div class="card-body">
              {{!-- <img src="img/img_main/img4.jpg" class="background2" > --}}
              <h5 class="">Seleccion de Alta Calidad</h5>
              <p class="">cada grano de cafe es tomado de la mejor seleccion de cada cosecha, lo cual hace unicos nuestros productos</p>
              <p class=""><small class="text-muted2">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="img/img_main/img2.jpg" class="card-img" alt="...">
          </div>
        </div>
      </div>

      <div class="card mb-3 mx-auto " style="max-width: 75%;">
        <div class="row ">
          <div class="col-md-4">
            <img src="img/img_main/img3.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body"> 
                {{!-- <img src="img/img_main/img4.jpg" class="background" > --}}
              <h5 class="">Ingredientes Frescos</h5>
              <p class="">Tenemos una amplia seleccion de los mejores frutos y mas frescos para la elobaroacion de nuestros postres</p>
              <p class=""><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
