  <link rel="stylesheet" href="css/StyleNosotros.css">

<div class="contenedor">
        <div  class = "item" id="item1"> 
            <img src="img/img_nosotros/img1.jpg"  style="max-width: 100% ;height:auto;" alt="">
        </div>
        <div class= "item"  id="item2" style="max-width: 450px;"> 
            <h4><b>Sobre Nosotros</b> <br><br>"Somos una cafeteria dedicada a cafeteria dedicada a brindar el mejor servicio con los mejores productos especiales para brindar una gran calidad de sabores para un mejor gusto al paladar."</h4>
        </div> 
    </div>
    <div class="contenedor2">
        <div class= "item"  id="item4" style="max-width: 450px;"> 
            <h4><b>Instalaciones</b> <br><br>"Trabajamos con lo mejor porque mereces lo mejor, mas que un café "Una experencia" que no olvidaras. Nos comprometemos con nuestros clientes para hacerlos sentir en casa, en un nuevo hogar donde siempre puede llegar por un delicioso café o merienda."</h4>
        </div> 
        <div  class = "item" id="item3"> 
            <img src="img/img_nosotros/img2.jpg"  style="max-width: 100% ;height:auto;" alt="">
        </div>
    </div>
