<link rel="stylesheet" href="css/ordprod.css">

<div id="lista-productos" class="container1">
    <h1 id="encabezado" class="encabezado">Nuestros Productos</h1>
    <div class="row">
        <div class="four columns">
            <div class="card">
                <img src="img/img_producto/Expreso.jpg" class="imagen-producto u-full-width">
                <div class="info-card">
                    <h4>Café Expreso</h4>
                    <p></p>
                    <img src="img/estrellas.png">
                    <p class="precio">Q15.00  <span class="u-pull-right ">Q10.00</span></p>
                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="1">Agregar Al Carrito</a>
                </div>
            </div> <!--.card-->
        </div>
        <div class="four columns">
                <div class="card">
                    <img src="img/img_producto/Capuccino.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Capuccino</h4>
                        <p></p>
                        <img src="img/estrellas.png">
                        <p class="precio">Q20.00  <span class="u-pull-right ">Q15.00</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="2">Agregar Al Carrito</a>
                    </div>
                </div>
        </div>
        <div class="four columns">
                <div class="card">
                    <img src="img/img_producto/Chocolate-Chip-Frappe-3.jpg" class="imagen-curso u-full-width">
                    <div class="info-card">
                        <h4>Frappé de Chocolate</h4>
                        <p></p>
                        <img src="img/estrellas.png">
                        <p class="precio">Q25.00  <span class="u-pull-right ">Q20.00</span></p>
                        <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                    </div>
                </div> <!--.card-->
     </div>
   <div class="row">
        <div class="four columns">
                    <div class="card">
                        <img src="img/img_producto/Crepas de fresa.jpg" class="imagen-curso u-full-width">
                        <div class="info-card">
                            <h4>Crepas de fresa</h4>
                            <p></p>
                            <img src="img/estrellas.png">
                            <p class="precio">Q15.00  <span class="u-pull-right ">Q10.00</span></p>
                            <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                        </div>
        </div> <!--.card-->
     </div>
        <div class="four columns">
                        <div class="card">
                            <img src="img/img_producto/Crepas Integrales de Banano.jpg" class="imagen-curso u-full-width">
                            <div class="info-card">
                                <h4>Crepas Integrales de Banano</h4>
                                <p></p>
                                <img src="img/estrellas.png">
                                <p class="precio">Q15.00  <span class="u-pull-right ">Q12.00</span></p>
                                <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                            </div>
        </div> <!--.card-->
     </div>
        <div class="four columns">
                            <div class="card">
                                <img src="img/img_producto/Expreso.jpg" class="imagen-curso u-full-width">
                                <div class="info-card">
                                    <h4>Expresso</h4>
                                    <p></p>
                                    <img src="img/estrellas.png">
                                    <p class="precio">Q10.00  <span class="u-pull-right ">Q5.00</span></p>
                                    <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                                </div>
                            </div>
                            </div> <!--.card-->
    </div>

    <div class="row">
        <div class="four columns">
                              <div class="card">
                                <img src="img/img_producto/frappe de mango con salsa de fresa.jpg" class="imagen-curso u-full-width">
                                <div class="info-card">
                                      <h4>Frappé Mango con Salsa de Fresa</h4>
                                      <p></p>
                                       <img src="img/estrellas.png">
                                      <p class="precio">Q25.00  <span class="u-pull-right ">Q20.00</span></p>
                                      <a href="#" class="u-full-width button-primary button input agregar-carrito" data-id="3">Agregar Al Carrito</a>
                                   </div>
                            </div> <!--.card-->                    
            </div>
    </div>
</div>
</div>