<link rel="stylesheet" href="/css/estilos.css">


    <br>
    <br>
    <br>

    <div class="contenedor-form">
        <div>
            
        </div>
        
        <div class="formulario">
            <h2>Iniciar Sesión</h2>
             <form action="/signin" method="POST">
                <input type="text" name="usuario" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>
        
        
        <div class="reset-password">
            <a href="#">Olvidé mi Contraseña?</a>
        </div>
    </div>
    <script src="js/jquery-3.1.1.min.js"></script>    
    <script src="js/main.js"></script>