
<!-- FOOTERS -->
<div>
    <footer class="bg-dark text-white">
        <div class="container">
            <nav class="row">
                <!-- Logo -->
                <a href="#" class="col-4 text-reset text-uppercase d-flex align-items-center">
                    <img src="img/colab.png" alt="Logo colab" class="img-log mr-2" id="logoColab">
                </a>
                <div class="col-xs-12 col-md-4">
                    <h6 class="text-muted lead">CONTACTO:</h6>
                    <h6 class="text-muted">
                        Colegio Agua Viva<br>
                        Chimaltenango.<br>
                        58711010.<br>
                    </h6>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="pull-right">
                        <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                        <div class="redes-footer" id="imgRedes">
                            <a href="https://www.facebook.com/" class="iconoFooter"><img
                                    src="img/redesSociales/f1.png"></a>
                            <a href="https://instagram.com/" class="iconoFooter"><img
                                    src="img/redesSociales/i1.png"></a>
                            <a href="https://www.youtube.com/" class="iconoFooter"><img
                                    src="img/redesSociales/y1.png"></a>
                        </div>
                    </div>
                    <div class="row">
                        <p class="text-muted small text-right">Grupo 7 Equipo 1<br> Todos los derechos reservados.</p>
                    </div>
                </div>
        </div>
</div>
</footer>
</div>