 <h1>CREAR NUEVO USAURIO</h1>
<link rel="stylesheet" href="/css/estilos.css">

 <div class="contenedor-form">
        <div>
            
        </div>
        
        <div class="formulario">
            <h2>Crea tu Cuenta</h2>
            <form action="#">
                <input type="text" placeholder="Usuario" required>
                
                <input type="password" placeholder="Contraseña" required>
                
                <input type="email" placeholder="Correo Electronico" required>
                
                <input type="text" placeholder="Teléfono" required>

                <input type="text" placeholder="Dirección" required>
                
                <input type="submit" value="Registrarse">
            </form>
        </div>
        
        
       
    </div>

          <script src="js/jquery-3.1.1.min.js"></script>    
    <script src="js/main.js"></script>